{% extends 'back/base.html.twig' %}

{% block body %}

    {% include 'back/leftPanel.html.twig' %}


    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        {% include 'back/header.html.twig' %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Pakiety - Lista</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active"><a href="{{ path('admin_pakiety') }}">Pakiety</a> > Lista Pakietów</li>
                        </ol>
                        <div class="page-header float-right">
                            <a href="{{ path('admin_pakiet_new') }}"><i class="fa fa-user-plus text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'back/flashMessages.html.twig' %}

        <div class="content mt-3">
            <div class="animated fade-in">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                            <th{% if pagination.isSorted('nazwa') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nazwa', 'nazwa') }}</th>
                            <th>Obrazek</th>
                            <th{% if pagination.isSorted('zbiorka') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Zbiórka', 'zbiórka') }}</th>
                            <th{% if pagination.isSorted('iloscAkcji') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Ilość akcji', 'iloscAkcji') }}</th>
                            <th{% if pagination.isSorted('status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Włączony', 'status') }}</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pakiet in pagination %}
                            <tr>
                                <td>{{ pakiet.id }}</td>
                                <td><a href="{{ path('admin_pakiet_edit',{ 'id':pakiet.id }) }}">{{ pakiet.nazwa }}</a></td>
                                <td>{% if pakiet.image is not empty %}
                                        <a href="#" data-toggle="modal" data-target="#image_{{ pakiet.id }}">
                                            <img class="img-thumbnail" style="width:50px; height:50px;" src="{{ asset(pakiet.image) }}"/>
                                        </a>
                                        <div class="modal fade" id="image_{{ pakiet.id }}" aria-hidden="true">
                                            <img class="img-thumbnail" style="max-height:800px;" src="{{ asset(pakiet.image) }}"/>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ pakiet.zbiorka.nazwa }}</td>
                                <td>{{ pakiet.iloscAkcji }}</td>
                                {% if pakiet.status == 1 %}
                                    <td><a href="{{ path('admin_pakiet_disable', { 'id':pakiet.id,'status':0 }) }}" class="btn btn-warning">Wyłącz</a></td>
                                {% else %}
                                    <td><a href="{{ path('admin_pakiet_disable', { 'id':pakiet.id,'status':1 }) }}" class="btn btn-success">Włącz</a></td>
                                {% endif %}
                                <td><a href="{{ path('admin_pakiet_delete', { 'id':pakiet.id }) }}" class="btn btn-danger">Usuń</a></td>
                            </tr>
                        {% endfor %}
                        <tr>

                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                </nav>
            </div>
        </div>
        </div>
        <!--/.col-->

{% endblock %}

