{% extends 'back/base.html.twig' %}

{% block body %}

    {% include 'back/leftPanel.html.twig' %}


    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        {% include 'back/header.html.twig' %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Zbiórki - Lista</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Zbiórki > Lista zbiórek</li>
                        </ol>
                        <div class="page-header float-right">
                            <a href="{{ path('admin_zbiorka_new') }}"><i class="fa fa-user-plus text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'back/flashMessages.html.twig' %}

        <div class="content mt-3">
            <div class="animated fade-in">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                            <th{% if pagination.isSorted('nazwa') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nazwa', 'nazwa') }}</th>
                            <th{% if pagination.isSorted('kwotaZbiorki') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Kwota zbiórki', 'kwotaZbiorki') }}</th>
                            <th{% if pagination.isSorted('kwotaZebrana') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Kwota zebrana', 'kwotaZebrana') }}</th>
                            <th{% if pagination.isSorted('startZbiorki') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Start zbiórki', 'startZbiorki') }}</th>
                            <th{% if pagination.isSorted('koniecZbiorki') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Koniec zbiórki', 'koniecZbiorki') }}</th>
                            <th{% if pagination.isSorted('status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Wyłącz', 'status') }}</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for zbiorka in pagination %}
                            <tr>
                                <td>{{ zbiorka.id }}</td>
                                <td><a href="{{ path('admin_zbiorka_edit',{ 'id':zbiorka.id }) }}">{{ zbiorka.nazwa }}</a></td>
                                <td>{{ zbiorka.kwotaZbiorki }}</td>
                                <td>{{ zbiorka.kwotaZebrana }}</td>
                                <td>{{ zbiorka.startZbiorki|date('Y-m-d H:i:s') }}</td>
                                <td>{{ zbiorka.koniecZbiorki|date('Y-m-d H:i:s') }}</td>
                                {% if zbiorka.status == 1 %}
                                    <td><a href="{{ path('admin_zbiorka_disable', { 'id':zbiorka.id,'status':0 }) }}" class="btn btn-warning">Wyłącz</a></td>
                                {% else %}
                                    <td><a href="{{ path('admin_zbiorka_disable', { 'id':zbiorka.id,'status':1 }) }}" class="btn btn-success">Włącz</a></td>
                                {% endif %}
                                <td><a href="{{ path('admin_zbiorka_delete', { 'id':zbiorka.id }) }}" class="btn btn-danger">Usuń</a></td>
                            </tr>
                        {% endfor %}
                        <tr>

                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </nav>
            </div>
        </div>
        </div>
        <!--/.col-->

{% endblock %}

